{
  "port":            8080,
  "access_log":      "logs/access_log",
  "database":        {
    "dialect":  "mysql",
    "username": "root",
    "password": "<%= "#{@db_password}" %>",
    "database": "codem_transcode",
    "host":     "127.0.0.1"
  },
  "slots":           4,
  "interface":       "0.0.0.0",
  "encoder":         "ffmpeg",
  "scratch_dir":     "/tmp/codem-transcode",
  "use_scratch_dir": true,
  "ffprobe":         "ffprobe",
  "transcoder":      "eyeD3",
  "s3_secret_access_key": "XTMlEDokJjE3BuhHX2lGrU/wuCKm5ieikf1TLIqa"
}
